<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>action</servlet-name>
        <servlet-class>org.apache.struts.action.ActionServlet</servlet-class>
        <init-param>
            <param-name>config</param-name>
            <param-value>/WEB-INF/struts-config.xml</param-value>
        </init-param>
        <init-param>
            <param-name>debug</param-name>
            <param-value>2</param-value>
        </init-param>
        <init-param>
            <param-name>detail</param-name>
            <param-value>2</param-value>
        </init-param>
        <load-on-startup>2</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>LoginAction</servlet-name>
        <servlet-class>Oracle.LoginAction</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OracleCon</servlet-name>
        <servlet-class>Oracle.OracleCon</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NewIp</servlet-name>
        <servlet-class>Oracle.NewIp</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>function</servlet-name>
        <servlet-class>Oracle.function</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>newfunction</servlet-name>
        <servlet-class>Oracle.newfunction</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EmailSendFile</servlet-name>
        <servlet-class>SendEmail.EmailSendFile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>show</servlet-name>
        <servlet-class>Oracle.show</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>statistics</servlet-name>
        <servlet-class>Oracle.statistics</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>action</servlet-name>
        <url-pattern>*.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginAction</servlet-name>
        <url-pattern>/LoginAction</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OracleCon</servlet-name>
        <url-pattern>/OracleCon</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NewIp</servlet-name>
        <url-pattern>/NewIp</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>function</servlet-name>
        <url-pattern>/function</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>newfunction</servlet-name>
        <url-pattern>/newfunction</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EmailSendFile</servlet-name>
        <url-pattern>/EmailSendFile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>show</servlet-name>
        <url-pattern>/show</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>statistics</servlet-name>
        <url-pattern>/statistics</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
